
		<% if @next_lines.count > 0 %>
			<div class="mini-box">
				Choose the next branch of the story: 
				<div id="next-lines">
					<% @next_lines.each do |line| %>
						<div data-id="<%=line.id%>"><span class="depth story-link" title="Others have added possible branches for the next line in this box. Pick one that you like or create your own. Each branch you create represents a new direction the story can take. The community will add more lines to the best branches!">

							<%= line.depth %></span>
							<%= link_to line.text, line_path(line), :class => "select-next-line" %> </div>
					<% end %>
				</div>
			</div>
		<% end %>

			<div class="new-line-box">

				<% if @next_lines.count == 0 %>

					<%= link_to new_line_path(:previous_line_id => @lines.last.id), :class => "new-line-link" do %>
						<span class="glyphicon glyphicon-edit"></span> The story ends here, or does it? ....  Add more to the story
					<% end %>
				<% else %>
				
				<%= link_to new_line_path(:previous_line_id => @lines.last.id), :class => "new-line-link" do %>
					<div class="story-link" title="Click here to create your own version of this line. By doing so you create a new branch in the story.">
						<span class="glyphicon glyphicon-edit"></span> Create your own branch
					</div>
				 <% end %>
				<% end %>
			</div>
