
	

<div class="container">
	
		<div class="row">
			
		<div class="box-container">
			<div class="col-lg-9">
				<div id="story" class="box">

					<% @lines.each do |line| %>
						<span class="story-line" data-id="<%=line.id%>"><%= link_to line.text, '#', :class=>"story-line" %></span>
					<% end %>

				</div>

				<div id="next-steps">
					<%= render 'next_steps' %>
				</div>
	

				<span style="font-size:.9em; margin-bottom:15px; display:block;">*If the links don't work, try refreshing.</span>

			</div>
		</div>	

			<div class="col-lg-2 col">
				Your Fellow Collaborators: 
				<div class="collaborators">
			
				<% @lines.last.story.collaborators.uniq.each do |collaborator| %>
					<%= link_to profile_path(:id => collaborator.id) do %>
						<%= image_tag collaborator.profile_image_uri, :class => "prof-icon" %>
					<% end %>
				<% end %>
			  </div>
		  </div>
	  </div>
</div>

<%= render 'navbottom' %>
