<div id="story" class="box">
	
	
		
		<h3>What is WeWrite?</h3>
		<p>WeWrite is crowedsourced story telling built by <a href="https://twitter.com/afkehaya"> Alex Kehaya </a> and <a href="https://twitter.com/anshulj10">Anshul Jain</a> to inspire you to write stories with others. Welcome to the WeWrite community!</p>

		<h3>The Community</h3>
				<p> The community adds one new line at a time to each story. Each line represents a new branch or direction the story can take.</p> 
				<p> Each branch is ranked by how many lines have been added. The community votes for the best branch by adding to it instead of starting a new branch. Together we create a tree whose longest branch is the best version of the story.</p>

				<p>Got quesitons or suggestions? <br />Send us an <%= link_to 'email', 'mailto:wewrite7@gmail.com' %>! <p> 

		<h3>How does it wdork?</h3>
		<h4>The First Line:</h4>	
		<p>The first line of the top stories for the week can be created by anyone. Make sure you write a compelling first line that will inspire others to colloaborate with you. </p>
		<div class="img">
			<%= image_tag "home.png" %>
		</div>	

		<h4>What do the numbers mean? </h4>
			<p>Stories are ranked by the number of lines that the community adds to them. Stories that have more compelling lines will be ranked at the top of the page and at the top of the choices for branches. We'll get into branching in the next section! By clicking the first line you will be taken to the story's page.</p>

		<h4>The Second Line and Branching: </h4>
			<p>We've chosen to add to the story about fishing.</p>
			<div class="img">
			<%= image_tag "story4.png" %>
		    </div>
		
			<h4>We can see that another user has already created a second branch. We have the following options:</h4>
				<ul>
					<li>Click the line in the grey box to choose the existing branch</li>
					<p>or</p>
					<li>Create a new branch that will be your version of the second line</li>
				</ul>
			<div class="img">
			<%= image_tag "secondline.png" %>
		    </div>

			<h4> We've chosen to create our own version of the second line of the story by typing it into the box and clicking "create line".</h4>
				<div class="img">
				<%= image_tag "create.png" %>
			    </div>

			<h4>We created our own branch!</h4>	
			<div class="img">
			<%= image_tag "storyversion.png" %>
		    </div>

			<h4>Create your own version and collaborate with others.</h4>	
			<p>Now we can see our version of the story. We can either click the first line to see all the possible branches or we can continue to add to the story by clicking "Create your own branch" below. The best lines will be added to and a great story will be made. Collaborators will be listed off to the right so you can keep track of whose added to the story. You can share the story and branches with your friends by clicking the icons to the left.</p>

			<h3>Viewing the Tree</h3>
			<h4>By clicking the link "Show Tree" we can visualize how many directions the story can take.</h4>

			<h4>This shows the first and second branch</h4>
			<p> If we click on the blue circles the tree will expand and we can view the different branches. By clicking the branches we will be taken to that branch in the story and can choose to contribute</p>
			
			<div class="img">
			<%= image_tag "branch1.png" %>
		    </div>

			<h4>The Tree for this story</h4>
			<div class="img">
			<%= image_tag "branch2.png" %>
		    </div>

			<b></b>
		


		
		
		<h3> Have feedback? Ideas? <br />Send us an <%= link_to 'email', 'mailto:wewrite7@gmail.com' %>! </h3>
	  </div>	
