
<div class="row">


<div class="col-lg-2">
</div>


	<div class="box-container">
	<div id="story" class="box">
		
		<h1>Welcome to WeWrite. </h1>
		<h3> Write stories together. </h3>

		<% @lines.each do |line| %>
			<div class="story">
				<%= link_to "#{line.text}...", 	line_path(line), :class => "story-link" %> 
				<span class="depth"><%= line.depth %></span> 
			</div>
		<% end %>

	<% unless @start == 0 %>
		<%= link_to 'Back', root_path(:start => @start-@num_display) %> |
	<% end %>
	<% unless Line.first_lines.count <= @start+@num_display %>	
		<%= link_to 'Next', root_path(:start => @start + @num_display) %>

	<% end %>

	<%= link_to 'Start a story', new_line_path, :class => "btn btn-defaults" %>
	</div>	

	


<div class="col-lg-2">

	</div>

</div>