<div id="story" class="box">
	<div class="text-center">	
	 <img class="prof-icon" src="<%= @user.profile_image_url %>"> <h3> <%= @user.name %> </h3>
	</div>

	

 
 <div class="pro-box" >	
	<div class="pro-line">
	
	<h4>Stories You Started</h4>
		<ul>
			<li><% @user.lines.each do |line| %>
				<%= link_to line.text, line_path(line) %>
				<% end %>
			</li>
		</ul>

	<h4>Stories You Contribute To:</h4>
		<ul>
			<li><% @user.lines.each do |line| %>
				<%= link_to line.text, line_path(line) %>
				<% end %>
			</li>
		</ul>
	<h4>Lines By You:</h4>
		<ul>
			<li><% @user.lines.each do |line| %>
				<%= link_to line.text, line_path(line) %>
				<% end %>
			</li>
		</ul>

	</div>
</div>	


</div>