<div id="story" class="box">
	<div class="text-center">	
	 <img class="icon-bg" src="<%= @user.profile_image_url %>"> <h3> <%= @user.name %> </h3>
	 <!--Follower Following Views
			     <%= render 'application/stats' %>
			     
		          <%= render 'follow_form' %>-->		   
	</div>
	
<div class="container">
 <div class="pro-box" >	
	<div class="pro-line">

	   

	  <div class="row">
	  	<div class="col-lg-6">
	        <h4>Stories <%= @user.name %> Contributes To:</h4>
		
			<% @user.stories.each do |story| %>
			<div class="story">
			    <div class="depth"><%= story.first_line.depth %></div> 	
				<div class="story-link"><%= link_to story.first_line.text, line_path(story.first_line) %></div>
			</div>
			<% end %>
		</div>
		
	<div class="col-lg-6">
		<h4>Lines By <%= @user.name %>:</h4>
		
		<% @user.lines.each do |line| %>
			<div class="story">
				<div class="depth"><%= line.depth %></div> 
				<div class="story-link"><%= link_to line.text, line_path(line) %></div>
			</div>

		<% end %>
	
       </div>
	</div>
</div>
</div>	



